@charset "utf8";

:root {

--cor1: rgba(110,19,19,0.43);
--cor2: rgba(240,113,113,0.94);
--cor3: rgba(237,41,41,0.93);
--cor4:rgba(115, 62, 62,0.45);
--cor5:rgba(196,33,33,0.77);} 

body {
font-family: 'Times New Roman', Times, serif; font-size: 16px; background-color: rgba(50,50,50,1);}

body{width: 450px; margin: auto;}
    main{ width: 100%;}
          
    dl{width:442px; margin:auto;text-align: center;  background-color: white;}

    dt{margin:auto; text-align: left; padding:5px;}
    
    dd{width:422px; margin:auto; text-align: justify; padding:10px;}
       
    img {display: block; margin:-1px; width: 100%;}

    h2 { width:440px; background-color: var(--cor3); color:white; text-align: center; margin: auto; padding: 1px;
    }
    h3 { width:440px; background-color: var(--cor2); height: 30px; padding: 1px; text-align: center;}

    h3 > a {color:white; text-decoration: none; font-weight: bold; background-color: var(--cor1); text-align: center;}
    
    a {color:var(--cor1); text-decoration: none; font-weight: bold;}

    img {display:block; border-radius: 5px;}
    
         
     dt{margin:auto; text-align: left;}
     
         footer{background-color: grey; font-size: 0.7em; text-align: center; min-width: 320px; max-width: 900px; margin: auto;}